.containerWrapper {
  width: 200px;
  border: 1px solid black;
  margin: 10%;
  padding: 10px;
}
.MainContainer .ListShowed {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;
}
.MainContainer .DropDownList {
  max-height: 150px;
  overflow-y: scroll;
  position: relative;
  width: 200px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.MainContainer .DropDownList::-webkit-scrollbar {
  display: none;
}
.SearchBox {
  position: sticky;
  top: 0;
  background-color: #fff;
}
.SearchBox input {
  outline: none;
  width: 90%;
  border: 1px solid lightgray;
  margin: auto;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.SingleItem {
  text-align: left;
  padding: 0 10px 5px;
  cursor: pointer;
  transition: 0.5s ease all;
}
.SingleItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
